<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/static/lib/weui.min.css">
    <link rel="stylesheet" href="/static/css/jquery-weui.css">
    <title>捐赠作者</title>
</head>
<body ontouchstart>
<div>
    <div style="MARGIN-RIGHT: auto; MARGIN-LEFT: auto;width: 100px;display: block">
        <div class='demos-content-padded'>
            <img src="http://wangdongxing.tech/static/img/dashang.jpg" width="200">
        </div>
    </div>
    <div style="MARGIN-RIGHT: auto; MARGIN-LEFT: auto;width: 400px;display: block;text-align: center">
        维护域名不需要成本么？<br/>
        维护服务器不需要成本么？<br/>
        为了开发周末不能出去玩要痛苦么？<br/>
        要！要！要！<br/>
        求各位小主捐赠打赏一下本宝宝哈<br/>
    </div>
</div>

<!--<script src="/static/lib/jquery-2.1.4.js"></script>-->
<!--<script src="/static/js/jquery-weui.bak.js"></script>-->
</body>
</html>